
.formularioNuevoIncidente {

  .title{
   justify-content: center;
  }
   .container {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  } 

  .button {
    display: flex;
    justify-content: end;
  }

  .column1 {
    width: 45%;
  }
  .column2{
    width: 50%;
  }

}
